{{#each this}} 
    <div class="card" style="width: 60rem;">        
        <div class="card-header d-flex justify-content-between" id="card-header">
            <h5 class="card-title">{{user.username}}</h5>
            <h5 class="date" id="date">{{format_date created_at}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{comment_text}}</p>
        </div>
    </div>
{{/each}} 