<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Page</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/highscore.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

    <header>
        <img src="./images/2021-03-18 (2).png" alt="logo" />
        <h3>Truevia</h3>
        <div class="header-buttons" id="header-buttons">
            <button type="button" class="btn btn-primary btn-lg home-page" id="homePage">Home Page</button>
            <button type="button" class="btn btn-primary btn-lg login" id="login">Login</button>
        </div>
    </header>

<div class="comment-page-title">
    <div class="title">
        <h1>Comment Page</h1>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
</div>
    <main>


    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/highscore.js"></script>

</body>
</html>