

<div class="comment-page-title">
    <div class="title">
        <h1>Comment Page</h1>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 user-name-highscore" id="user-name-highscore">High Sore Username Placeholder</h1>
          <p class="score-display" id="score-dispaly">total score with time remaining placeholder</p>
        </div>
      </div>

      <div class="comment-section container-lg" id="comment-section">
        <div class="comments-header" id="comments-header">
            <h2>Comments:</h2>
        </div> 
        <div class="message-display" id="message-display">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <div class="card-header d-flex justify-content-between" id="card-header">
                    <h5 class="card-title">Username Placeholder</h5>
                    <h5 class="date" id="date">Date</h5>
                </div>
                  <p class="card-text">User Comment Content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequuntur dolore eius delectus est provident facere sed voluptatum, ratione expedita iste repudiandae illo distinctio aliquam non quae officia nisi? Omnis.</p>
                 
                </div>
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Write a message here!</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 60rem;"></textarea>
              </div>
              <div class="submit-comment" id="submit-comment">
                <a href="#" class="btn btn-primary">Comment</a>
              </div>
        </div>

        <div class="user-comments" id="user-comments">
            
        </div>
      </div>
</div>
    <main>


    </main>

    <script src="/javascript/highscore.js"></script>

