<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/dashboard.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

    <header>
        <!-- Just an image -->
    <div class="container">
      
      <div class="truevia-container" id="truevia-container">

        <a class="navbar-brand" href="#">
        <img src="./images/161644410948839710.png" alt="" width="45" height="45">
      </a>
    
        <h3>Truevia</h3>
    </div>

        <div class="header-buttons" id="header-buttons">
          <a class="btn  btn-lg" href="./homepage.html">Home</a>
            <a class="btn  btn-lg" href="./commentpage.html">High Scores</a>
            <a class="btn  btn-lg" >Log Out</a>

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  
        </div>
    </div>
    </header>

    <main>
    <div class="main">
<div class="main-display-a">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>
    <div class="username-display-box">
        <h2 class=username-display>username display placeholder</h2>
    </div>
    </div>

    <div class="score-display-area" id="score-display-area">
        <h2 class="your-score">Your High Scores</h2>
    </div>
    <div class="score-display-card">
        <div class="card highscore-card container-fluid" id="highscore-card" >

            <div class="card-body">
              <div class="quiz-name" id="quiz-name">
                  <p>quiz name placeholder text</p>
              </div>
              <div class="quiz-date" id="quiz-date">
                  <p>date quiz was taken placeholder text</p>
              </div>
              <div class="score-display" id="score-display">
                  <p>score display placeholder text </p>
              </div>
            </div>
          </div>
    </div>
    </div>
    </main>

    <footer>
        <div class="container">
            <div class="truevia-container" id="truevia-container">
              <a class="navbar-brand" href="#">
              <img src="./images/161644410948839710.png" alt="" width="45" height="45">
            </a>
              <h3>Truevia</h3>
          </div>
    </footer>

    <body>
