    <main>
<<<<<<< HEAD
    <main>
<div class="dashboard-header" id="dashboard-header">
    <h1>Dashboard</h1>
</div>
    </main>
    <footer class="page-footer main-background">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Much longer nav link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
      </footer>
</body>
</html>

=======
        <div class="dashboard-header" id="dashboard-header">
            <h1>Dashboard</h1>
            {{#if scores.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each scores as |score|}}
    <li>
      Highscore: {{score.score_amount}}
      Username: {{score.user.username}}
      <a href="/commentpage/{{score.id}}" class="edit-link">see comments</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
        </div>
>>>>>>> ba734b7215128cfbc9f000dc2e6f63864ce47687
    </main>
    <footer class="page-footer main-background">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Much longer nav link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
      </footer>

