    <main>  

        <div class="final-score-area" id="final-score-aSrea">
            <h1 id="finalScore"> final score shown here</h1>
            <div class="form" id="form">
                <form>
                    <div class="end-options" id="end-options">
                    <a href="/questionpage" class="btn btn-outline-success success1">PLay Again</a>
                    <a href="/" class="btn btn-outline-success success2">Main menu</a>
                    </div>
                </form>
            </div>
        </div>


    </main>
    <script src="/javascript/game-end.js"></script>
