    <main>  
        {{#if loggedIn}}
        <div class="container d-flex align-items-center justify-content-center my-5" id="final-score-aSrea">
            <div class="form text-center" id="form">
                <h1 id="finalScore"> final score shown here</h1>
                <form>
                    <div class="end-options" id="end-options">
                    <a href="/questionpage" class="btn btn-outline-success success1">PLay Again</a>
                    <a href="/" class="btn btn-outline-success success2">Main menu</a>
                    </div>
                </form>
            </div>
        </div>
        {{/if}}

                    <div class="score-display w-100" id="score-display">
                <div class="top-scores text-center mt-5 mb-3" id="top-scores">
                    <h2>All Scores</h2>
                </div>
                <div class="score-card" id="score-card">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            {{#if scores.length}}
                                <section>
                                    <ol class="list-group list-group-numbered">
                                        {{#each scores as |score|}}
                                            {{> scores-list score}}
                                        {{/each}}
                                    </ol>
                                </section>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div> 

    </main>
    <script src="/javascript/game-end.js"></script>
