<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truevia</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/game-end.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <header>
        <img src="./images/2021-03-18 (2).png" alt="logo" />
        <h3>Truevia</h3>
        <div class="header-buttons" id="header-buttons">
            <a class="btn btn-primary btn-lg" href="./commentpage.html">High Scores</a>
            <a class="btn btn-primary btn-lg" href="./.html">Log In</a>
        </div>

    </header>
    <main>  

        <div class="final-score-area" id="final-score-aSrea">
            <h1 id="finalScore"> final score shown here</h1>
            <div class="form" id="form">
                <form>
                    <div class="end-options" id="end-options">
                    <button type="button" class="btn btn-outline-success success1">PLay Again</button>
                    <button type="button" class="btn btn-outline-success success2">Main menu</button>
                    <button type="button" class="btn btn-outline-success success3">high score page</button>
                    </div>
                </form>
            </div>
        </div>


    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/highscore.js"></script>
    <script src="./js/game-end.js"></script>

</body>
</html>