    <main>
        <div class="main-container" >
            <div class="main-logo" id="main-logo">
                <img src="/images/2021-03-18 (2).png" alt="logo" />
                <h1> Truevia</h1>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Login</h5>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  
                  <a href="#" class="btn btn-primary">Login</a>
                </div>
              </div>
              <p> New around here? <a class="btn" href="/sign-up">Sign Up!</a> </p>
        </div>

    </main>
  <script src="/javascript/game-start.js"></script>
