    <main>
        <div class="main-container text-center" >
            <div class="main-logo text-center" id="main-logo">
                <img class="main-logo" src="/images/logo.gif" alt="logo" />
                <h1>Truevia</h1>
            </div>
            <form id="login-form" class="card text-center mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        </div>
                        <input id="email" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        </div>
                        <input id="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg log-in" id="log-in">Log-in</button>
                
                </div>
            </form>
            <p> New around here? <a class="btn" href="/sign-up">Sign Up!</a> </p>
        </div>
    </main>
    <script src="/javascript/login.js"></script>
