    <main>

         <div class="sign-up-container lg-6">
              
            <form id='signup-form' class="sign-up-container-b">
               
                <div class="username">
                    <div class="">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
                            </div>
                            <input id="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                </div>

                <div class="email">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        </div>
                        <input id="email" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                </div>
                

                <div class="password">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                        </div>
                        <input id="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                </div>

                <div class="confirm-password">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">confirm-password</span>
                        </div>
                        <input id="password2" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg sign-up" id="sign-up">Sign Up</button>

            </form>

            <p>already a member? <a class="btn" href="/log-in">Sign In!</a> </p>
         </div>   


    </main>
    <script src="/javascript/login.js"></script>
