    <main>
        <div class="main-container text-center" >
            <div class="main-logo text-center" id="main-logo">
                <img class="main-logo" src="/images/logo.gif" alt="logo" />
                <h1>Truevia</h1>
            </div>
            <form id='signup-form' class="card text-center mx-auto">
               
                <div class="card-body p-3">
                    <h3 class="card-title">Signup</h3>
                    <div class="username">
                        <div class="mb-3">
                            <div class="">
                                <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
                            </div>
                            <input id="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>

                    <div class="email">
                        <div class=" mb-3">
                            <div class="">
                                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                            </div>
                            <input id="email" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
              
                    <div class="password">
                        <div class="mb-3">
                            <div class="">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                            </div>
                            <input id="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>

                    <div class="confirm-password">
                        <div class=" mb-3">
                            <div class="">
                                <span class="input-group-text" id="inputGroup-sizing-sm">confirm-password</span>
                            </div>
                            <input id="password2" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg sign-up" id="sign-up">Sign Up</button>
                </div>
            </form>

            <p>Already a member? <a class="btn" href="/log-in">Sign In!</a> </p>
         </div>   
    </main>
    <script src="/javascript/login.js"></script>
