   .choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid gold;
    background-color: rgb(251,251,204);
    border-radius: 5%;
    align-items: center;
  }
    
  .choice-container:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1.4rem 0 gold;
      transform: translateY(-0.1rem);
      transition: transform 150ms;
    } 

  .choice-prefix {
      padding: 2.5rem 2.5rem;
      background-color: black;
      color: gold;
      margin: 0px;
      border-top-left-radius: 5%;
      border-bottom-left-radius: 5%;
    }
  
  .choice-text {
      padding: 1.5rem;
      width: 100%;
    }
    
  .correct {
    border: 0.1rem solid green;
    background-color: green;
  }

  .correct:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 green;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  } 
  
  .incorrect {
    border: 0.1rem solid red;
    background-color: red;
  }

  .incorrect:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 red;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  } 
