/* .highscore-card {
    width: 20rem;
}#page-container {
    position: relative;
    min-height: 100vh;
  } */

  .card {
      background-color: rgb(91,203,204);
  }

header{
    background-color: rgb(91,203,204);
}

  footer {
    background-color: rgb(91,203,204);
  }