* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: 
}

body {
    background-image: url(../images/1963258.png)
}


header {
    display:flex;
    justify-content:space-between;
}

main {
    display: flex;
    justify-content: center;
}